<configuration>
<appSettings>
<add key="smartRestaurant.BusinessService.BusinessService" value="http://localhost/smartService/BusinessService.asmx"/>
<add key="smartRestaurant.CheckBillService.CheckBillService" value="http://localhost/smartService/CheckBillService.asmx"/>
<add key="smartRestaurant.CustomerService.CustomerService" value="http://localhost/smartService/CustomerService.asmx"/>
<add key="smartRestaurant.MenuService.MenuService" value="http://localhost/smartService/MenuService.asmx"/>
<add key="smartRestaurant.OrderService.OrderService" value="http://localhost/smartService/OrderService.asmx"/>
<add key="smartRestaurant.PaymentService.PaymentService" value="http://localhost/smartService/PaymentService.asmx"/>
<add key="smartRestaurant.ReserveService.ReserveService" value="http://localhost/smartService/ReserveService.asmx"/>
<add key="smartRestaurant.TableService.TableService" value="http://localhost/smartService/TableService.asmx"/>
<add key="smartRestaurant.UserAuthorizeService.UserAuthorizeService" value="http://localhost/smartService/UserAuthorizeService.asmx"/>
<add key="Demo" value="0"/>

<!--
	MenuLanguage: Language for show menu name.
	Value: En (default) , Th, Fr
-->
<add key="MenuLanguage" value="En"/>

<!--
	TableListStyle: Table List style to show on screen.
	Value:	1 - Dimension 8x3 (22,24)
			2 - Dimension 12x3 (34,36)
			3 - Dimension 8x5 (38,40)
-->
<add key="TableListStyle" value="3"/>
</appSettings>
</configuration>
